@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: #161616;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: #161616;
}

header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}

header .logo:hover{
    color: transparent;
    background: linear-gradient(90deg, #E28A64,#EFC996);
    background-clip: text;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 5px;
}

header ul li a:hover{
    background: white;
    color: #040c0c;
}

header ul li a.active{
    background: white;
    color: #040c0c;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section div#box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding-top: 200px;
}

section div#cover{
    background: #161616;
    width: 100%;
    height: 50%;
    z-index: 8;
}

section#gradient{
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 100%;
    background: linear-gradient(to top, #161616,transparent);
    z-index: 21;
}

section img#tFront{
    z-index:14;
}

section img#tBack{
    z-index: 11;
}

section img#ground{
    z-index:20;
}

section img#mFront{
    z-index: 10;
}

#text{
    position: relative;
    color: white;
    white-space: wrap;
    font-size: 80px;
    z-index: 12;

}

div#blackBox{
    position: relative;
    width:100%;
    height: 200px;
    margin-top: 0px;
    top: 0px;
    z-index: 14;
    background: linear-gradient(to top,#161616,black);
}

.sec{
    padding-top: 400px;
    position: relative;
    margin-top: -270px;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 500px;
    background:#161616;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.sec h2{
    font-size: 4em;
    color: white;
    padding-left: 50px;
}

.sec p{
    font-size: 1.2em;
    padding: 42px;
    color: white;
}

.sec img{
    float: left;
    height: 400px;
    width: 400px;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    opacity: 0;
    transition: opacity 5s;
    border-radius: 25% 0%;
}

.sec2{
    position: relative;
    padding: 100px;
    background: #161616;
    z-index: 9;
}

.sec2 h2{
    font-size: 4em;
    color: white;
    padding-left: 50px;
}

.sec2 #picture2{
    float: left;
    height: 400px;
    width: 400px;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    opacity: 0;
    transition: opacity 5s;
    border-radius: 25% 0%;
}

.sec2 p{
    
    font-size: 1.2em;
    padding: 15px;
    color: white;
}

.sec2 ul li p{
    padding: 10px;
    padding-left: 10px;
}


.sec2 ul li{
    content: "#fb";
    display: flex;
    
}

.sec2 ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fb{
    width: 40px;
    height: 40px;
}

#twtr{
    width: 35px;
    height: 35px;
}

#inst{
    width: 32px;
    height: 32px;
}

.sec3{
    padding-top:50px;
    padding-bottom:10px;
    padding-left:10px;
}

.sec3 a{
    float: right;
    font-size: 1.2em;
    padding-right: 20px;
    padding-bottom: 20px;
    color: white;
}

.addInfo{
    margin: 50px;
}

.addInfo img{
    display:inline;
    width: 10%;
    height: 10%;
    float: bottom;
}

.addInfo p{
    color:white;
}

.addInfo ul{
    list-style: none;
}

.addInfo ul li p{
    color: transparent;
    font-weight: bold;
    background: linear-gradient(45deg, #E28A64,#EFC996);
    background-clip: text;
}

.addInfo ul li p::before {
    content: "\2022";
    padding-right: 8px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(45deg, #E28A64,#EFC996);
    background-clip: text;
  }
